<div #selectWrap class="select_wrap">
  <ul #defaultOption class="default_option">
    <li>
      <div class="option">
        <p *ngIf="selectedValue.name == null">{{ placeholder }}</p>
        <p *ngIf="selectedValue.name != null">
          {{ selectedValue.name }}
        </p>
      </div>
    </li>
  </ul>
  <ul class="select_ul">
    <li #selectLine *ngFor="let item of values" (click)="selectValue(item)">
      <div *ngIf="item && item.name" class="option">
        <p>{{ item.name }}</p>
      </div>
    </li>
  </ul>
</div>
